{% extends "base.html" %}
{% block title %}Tutoria{% endblock %}


{% block content %}
<!---->
<div class="relative isolate -z-10 overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-14">
  <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96" aria-hidden="true"></div>
  <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
      <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">Mentores en linea</h1>
      <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
      </div>
      <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
        <p class="text-lg leading-8 text-gray-600">Kuaapp te abre las puertas para
          conectarte con apasionados de tu
          misma ciudad, listos para compartir su
          conocimiento contigo en lo que desees aprender.</p>
      </div>
      <img src="static/Webinar.gif" alt="" class="mt-10 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36">
    </div>
  </div>
  <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
</div>
<!---->
  
  <div class="flex justify-center items-center h-screen bg-[#A4BED9]">
    <form class="w-full max-w-5xl bg-white shadow-md rounded-lg p-20s">
        

        <div class="px-4 sm:px-6 lg:px-8">
            
            <div class="mt-8 flow-root">
              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tutoria</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estado</th>
                        
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                          <span class="sr-only">Ver perfil</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <tr>
                        <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                          <div class="flex items-center">
                            <div class="h-11 w-11 flex-shrink-0">
                              <img class="h-11 w-11 rounded-full" src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg" alt="">
                            </div>
                            <div class="ml-4">
                              <div class="font-medium text-gray-900">Agustina Sanabria</div>
                              <div class="mt-1 text-gray-500">agooos@example.com</div>
                            </div>
                          </div>
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <div class="text-gray-900">coach de programacion</div>
                         
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
                        </td>
                        
                        <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                          <a href="/perfil/6" class="text-indigo-600 hover:text-indigo-900">Ver perfil<span class="sr-only">, Agustina Sanabria</span></a>
                        </td>
                      </tr>
                      <tr>
                        <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                          <div class="flex items-center">
                            <div class="h-11 w-11 flex-shrink-0">
                              <img class="h-11 w-11 rounded-full" src="https://img.freepik.com/foto-gratis/consejero-tiro-medio-gabinete_23-2148759108.jpg?size=626&ext=jpg&ga=GA1.1.1446505331.1695821996&semt=ais" alt="">
                            </div>
                            <div class="ml-4">
                              <div class="font-medium text-gray-900">Eusebio Aranda</div>
                              <div class="mt-1 text-gray-500">eusebioaranda@gmail.com</div>
                            </div>
                          </div>
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <div class="text-gray-900">back-end Developer</div>
                         
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
                        </td>
                        
                        <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                          <a href="/perfil/5" class="text-indigo-600 hover:text-indigo-900">Ver perfil<span class="sr-only">, Eusebio Aranda</span></a>
                        </td>
                      </tr>
                      <tr>
                        <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                          <div class="flex items-center">
                            <div class="h-11 w-11 flex-shrink-0">
                              <img class="h-11 w-11 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </div>
                            <div class="ml-4">
                              <div class="font-medium text-gray-900">Lindsay Walton</div>
                              <div class="mt-1 text-gray-500">lindsay.walton@example.com</div>
                            </div>
                          </div>
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <div class="text-gray-900">Front-end Developer</div>
                         
                        </td>
                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                          <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
                        </td>
                        
                        <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                          <a href="/perfil/7" class="text-indigo-600 hover:text-indigo-900">Ver perfil<span class="sr-only">, Lindsay Walton</span></a>
                        </td>
                      </tr>
          
                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  
{% endblock %}